:root {
  --lightGray: #c6bebe;
  --lightPink: #fadadd;
}

body {
  background-color: #F6F0BC;
}

.light-gray {
  background-color: var(--lightGray);
}

.menu-card {
  background-color: var(--lightPink);
  padding: 1vh;
  border-radius: 10px;
}

.menu-item:hover {
  cursor: pointer;
  transform: scale(1.10);
}

.menu-img {
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}